body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
  color: #333;
}

header {
  background-color: #005288;
  color: white;
  padding: 20px;
  text-align: center;
}

.uni {
  font-size: 1.2em;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #005288;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

footer {
  background-color: #005288;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
}

.btn-github {
  display: inline-block;
  background-color: #24292e;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-github:hover {
  background-color: #444c56;
}
